.topnav {

  position: absolute;
  right: 40px;
  top: 0px;
  }

#myTopnav a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: block;


}

li  {

  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-family: arial,sans-serif;
  text-decoration: none;
  font-size: 13px;

}

li img  {
  width: 20px;
  top: 0px;

}

#signin {
  -webkit-appearance: none;
  display: inline;
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #FFFFFF;
  width: 70px;
  background-color: #4C80F9;
  border: 0px;
  padding: 7px 12px;
  border-radius: 2px;
  text-align: center;
  margin-top: 6px;
  margin-left: 10px;

}

a {
  color: #696969;
  text-decoration: none;
  display: block;
  padding: 12px


}

img {
  display: block;
  width: 300px;
  margin: auto;
  margin-top: 160px;
  margin-bottom: 30px;
}

form .button {
  -webkit-appearance: none;
  display: inline;
  font-family: arial,sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #7D7D7D;
  width: 130px;
  background-color: #F0F0F0;
  border: 0px;
  padding: 11px 12px;
  border-radius: 2px;
  text-align: center;
  margin-top: 30px;

}

input:hover {
  color: #464646;
  border-color: #BABABA;

}

.center {
  text-align: center;

}


#search {
  -webkit-appearance: none;
  padding: 15px 10px;
  width: 380px;
  border-width: thin;
  border-radius: 1px;
  border-style: solid;
  color: #E1E1E1;
  box-shadow: 3px 3px 2px #D4D4D4;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/1000px-Google_mic.svg.png');
  background-position: 10px 10px;
  display: block;
  margin: auto;
}

div {
  display: block;
}

footer  {
  background-color: #F0F0F0;
  border-width: thin;
  border-top-color: #D8D8D8;
  border-left: 0px;
  border-bottom: 0px;
  border-style: solid;
  font-size: 13px;
  min-width: 100%;
  bottom: 0;
  position: absolute;
}

.rightfooter  {
  float: right;
  padding-right: 30px;

}

.rightfooter a:hover  {
  text-decoration: underline;
}

.leftfooter {
  float: left;
  padding-right: 30px;
}
